body {
    font-family: system-ui, sans-serif;
    max-width: 680px;
    margin: 2rem auto;
    background-color: #25dbde35;
}

input {
    padding: .5rem;
    margin-right: 0.5rem;
    width: 6rem;
}

button {
    padding: .5rem .8rem;    
}

.result {
    margin-top: 1rem;
    font-weight: 600;
}